.title {
    background: linear-gradient(89.34deg, #6C4F43 0.52%, #F8B75B 95.87%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}